<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lewin.cl.shanyan.sdk">

    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.GET_TASKS"/>-->

    <!--&lt;!&ndash;  **********************联通授权页activity**************************&ndash;&gt;-->
    <!--<activity-->
        <!--android:name="com.sdk.mobile.manager.login.cucc.OauthActivity"-->
        <!--android:launchMode="singleTop"-->
        <!--android:screenOrientation="portrait" />-->
    <!--&lt;!&ndash;  **********************移动授权页activity**************************&ndash;&gt;-->
    <!--<activity-->
        <!--android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"-->
        <!--android:launchMode="singleTop"-->
        <!--android:screenOrientation="portrait" />-->
    <!--&lt;!&ndash;  **********************电信授权页activity**************************&ndash;&gt;-->
    <!--<activity-->
        <!--android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"-->
        <!--android:launchMode="singleTop"-->
        <!--android:screenOrientation="portrait" />-->
    <!--&lt;!&ndash;  **********************协议页activity**************************&ndash;&gt;-->
    <!--<activity-->
        <!--android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"-->
        <!--android:launchMode="singleTop"-->
        <!--android:screenOrientation="portrait" />-->

</manifest>
